// Navigointi
.menu-btn {
    position: absolute;
    z-index: 3;
    right: 35px;
    top: 35px;
    cursor: pointer;
    @include easeOut;

    .btn-line {
        width: 28px;
        height: 3px;
        margin: 0 0 5px 0;
        background: #fff;
        @include easeOut;
    }

    &.close {
        transform: rotate(180deg);
        .btn-line {
            // 1 - viiva k채채ntyy 
            &:nth-child(1) {
                transform: rotate(45deg) translate(5px, 5px);
            }

            // 2. viiva pois
            &:nth-child(2) {
                // opacity: 0;
                display: none;
            }
            // 3. viiva k채채ntyy
            &:nth-child(3)       {
                transform: rotate(-45deg) translate(1px, -1px);
            }    
        }
    }
}