.wrapper {
    padding-top: 5vh;
    padding-left: 5%;
    padding-right: 5%;
    display: grid;
    grid-gap: 30px;
    grid-template-areas: 
    'about card info'
    'about card info';
    grid-template-columns: repeat(3, 1fr);

    .card {
        box-shadow: 0 5px 8px 0 $tertiary-color;
        background-color: darken($primary-color, 10);
        width: 80%;
        max-width: 20em;
        margin: auto;
        text-align: center;
    
        .title {
            color: grey;
            font-size: 1rem;
          }
    
          .portrait {
            background: darken($primary-color, 10);
            
            .bio-image {
                grid-area: img;
                margin-top: 10px;
                max-width: 60%;
                border-radius: 50%;
                border: $tertiary-color 5px solid;
            }
       
        }
      }

    .about {
        grid-area: about;
        font-family: $font-playfair;
        p {
            color: $secondary-color;
            font-weight: 500;
            font-size: 1.3em;
        }
    }

    .info {
        grid-area: info;
        height: auto;
        font-family: $font-playfair;
        font-weight: 500;
        .job {
            background: darken($primary-color, 10);
            padding: 0.5rem;
            margin-bottom: 0.5rem;
            border-bottom: $tertiary-color 5px solid;
          }
        p {
            color: $secondary-color;
            font-weight: 500;
        }
    }
}