.portrait {
    background-color: linear-gradient(180deg, darken($primary-color,2) 10%, darken($primary-color,5));;
}

.card {
    box-shadow: 0 5px 8px 0 $tertiary-color;
    background-color: darken($primary-color, 10);
    max-width: 300px;
    margin: auto;
    text-align: center;
  }
  
  .title {
    color: grey;
    font-size: 18px;
  }

.wrapper {
    padding-top: 15vh;
    padding-left: 5%;
    padding-right: 5%;
    display: grid;
    grid-gap: 30px;
    grid-template-areas: 
    'about card info'
    'about card info';
    grid-template-columns: repeat(3, 1fr);

    .bio-image {
        grid-area: img;
        margin-top: 10px;
        max-width: 80%;
        border-radius: 50%;
        border: $tertiary-color 5px solid;
    }
    .about {
        grid-area: about;
        height: auto;
        font-family: $font-playfair;
        font-weight: 500;
        p {
            color: $secondary-color;
            font-weight: 500;
        }
    }

    .info {
        grid-area: info;
        height: auto;
        font-family: $font-playfair;
        font-weight: 500;
        p {
            color: $secondary-color;
            font-weight: 500;
        }
    }
}