#gallery {
    background-image: url('../img/animations-images/1.jpg');
    background-repeat: no-repeat; 
    background-size: 75% 100% ;

    display: grid;
    grid-gap: 30px;
    grid-template-areas: 
    'names img';
    grid-template-columns: repeat(2, 1fr);

    .image {
        grid-area: img;
        width: 75vh;
      
    }
    .names {
        grid-area: names;
        width: 25vh;
        font-family: $font-playfair;
        font-weight: 500;

        li {
            list-style: none;
        }
    }     
}