@import 'config';
@import 'menu';
@import 'about';
@import 'projects';

.text-secondary {
    color: $quaternary-color;
}

body {
    margin: 0%;
    background: linear-gradient(90deg, darken($primary-color,2) 50%, darken($primary-color,5) 50%);;
    height: 100%;
    position:relative;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

* {
    box-sizing: border-box;
  }

main {
    position: relative;
    min-height: 100vh;
    overflow: hidden;
    display:block;
    padding-bottom: 4.5em;

    &#home {
        margin:0;
        font-family: $font-playfair;
        h2 {
            font-size: 2em;
            text-align: center;
            margin-top: 30%;
        }

        section {
            padding: 3em;
            height: 100vh;
            position: relative;
        }

        blockquote {
            font-size: 2em;
            width: 30%;
            margin-top: 7%;
            position: absolute;
        }

        span {
            width: 100%;
            background: red;
            display: block;
            height: 5px;
            margin-top: 20px;
        }

        img {
            position: absolute;
        }

        img:nth-of-type(1) {
            width: 25%;
            height: 80%;
            right: 15%;
            top:10%;
        }
        img:nth-of-type(2) {
            width: 35%;
            height: 25%;
            right: 50%;
            top:49%;
        }

        section:nth-child(even) {
            background: darken($primary-color, 5);
        }
        .sticky {
            background: $primary-color;
        }
        #box {
            width: 150px;
            height: 100px;
            position: absolute;
            border: 7px solid #000;
            margin: auto;
            top: 20%; right: 50%;
          }
    }

    &#about {
        h1 {
            &:hover {
                animation: .8s shake infinite alternate;
                @keyframes shake {
                    0% { transform: skewX(-15deg); }
                    5% { transform: skewX(15deg); }
                    10% { transform: skewX(-15deg); }
                    15% { transform: skewX(15deg); }
                    20% { transform: skewX(0deg); }
                    100% { transform: skewX(0deg); }  
                  }
            }
        }
    }
}

h1, h2, h3 {
    color: $secondary-color;

}
 
footer {
    position: absolute;
    height: 2.1em;
    bottom: 0;
    padding-bottom: 1em;
    width: 100%;
    text-align: center;
    background-color: lighten($secondary-color,40);

    i {
        color: black;

        &:hover {
            @include easeOut(1s);
            color: $tertiary-color;
        }
    } 
} 

